# Python
__pycache__/
*.py[cod]
*.pyo

# Env
.env
.venv/
venv/

# Build / cache
.pytest_cache/
.mypy_cache/
.coverage

# OS / Editor
.vscode/
.idea/
.DS_Store
Thumbs.db

# Archives
*.zip

# Logs
*.log